<main>
    <section id="comments">
        <h1>Comments</h1>
        <p>Here are some comments from visitors to my site:</p>
        <div id="comments-list">
            <% @comments.each do |comment| %>
            <div id="comment">
                <h2><%= comment.author %></h2>
                <p><%= comment.content %></p>
                <%= button_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <% end %>
        </div>
        <%= link_to "Leave a comment", new_comment_path, "data-turbo-prefetch": "false"  %>
    </section>
    
</main>