<main>
    <section id="hobbies">
        <h1>My Hobbies</h2>
        <p>My hobbies include playing music, playing and creating games, coding, and learning geography. I practice mindfulness in my daily life and while drinking tea. 
        </p>
        <div id="hobbies-grid">
            <div id="music">
                <h2>Music</h2>
                <%= image_tag "ukes.jpg" %>
                <p>I enjoy experimenting with various musical instruments. I play the soprano and baritone ukulele, guitar, 
                    and bass- a continuum of related instruments. I feel this exercizes the ability to adapt to different sizes and feels, 
                    and appreciate each instrument's unique attributes through comparison. Aside from listening to all music with curiosity, 
                    I really enjoy the energy of classic rock and roll, the artistry of classical music, and the creative synthesis of jazz. 
                </p>
            </div>
            <div id="games">
                <h2>Games</h2>
                <%= image_tag "chessboard.jpeg" %>
                <p>I enjoy playing classic strategy games like chess and backgammon for a mentally stimulating challenge. I'm a big fan of 
                    video games including Mario, Zelda, and Animal Crossing. Ever since I was a kid I enjoyed the creative possibilties of inventing
                    new games. One of my favorites is a game called "triangle bowling" where a defensive player creates a triangular goal of 3 balls,
                    then the offensive player tries to land their ball inside the goal or knock the balls strategically to make it easier to score on subsequent shots.
                    Coding has opened up a new world of game creation for me!
                </p>
            </div>
            <div id="coding">
                <h2>Coding</h2>
                <%= image_tag "coding.jpg" %>
                <p>Learning to harness the tools of computer programming opens up doors profesionally and recreationally. From games, to funny message generators,
                    to helpful organization apps that track memories, the creative horizon is offered by coding is extremely exciting. 
                </p>
            </div>
            <div id="geography">
                <h2>Geography</h2>
                <%= image_tag "maps.png" %>
                <p>The internet and tools like Google Earth offer such a fascinating ability to learn about the world around me. I enjoy getting lost in Google Earth
                    with all the labels turned off, just getting a sense for the features of the vast continents and islands of the world beyond the context of political boundaries.
                    I like to surf Wikipedia to facts about geography and related history, and study historical maps to learn how people saw the world throughout history.
                </p>
            </div> 
        </div>
    </section>
</main>