<main>
    <section id="mindfulness">
        <h1>My mindfulness practices</h2>
        <p>I use mindfulness to help adapt to the changes of daily life. Focusing on the present moment has benefits during slow, relaxing moments of contemplation, 
            as well as busy, hectic, or unpleasant situations.</p>
        <div id="mindfulness-grid">
            <div id="mindful-thinking">
                <h2>Mindful thinking</h2>
                <%= image_tag "zen.jpg" %>
                <p>I have read several mindfulness books such as the Tao Te Ching, the Power of Now, and Turning the Mind into an Ally, which inform my 
                    understanding of keeping my mind still and focusing on what is happening in the present moment, whether it's pleasant or uncomfortable,
                    relaxing or busy. I find mindfulness to be an antidote to boredom which makes it easier to cut down on screen time and distractions. It keeps me in control
                    of my mind, which helps me focus on a given situation and put my full attention into performing well. 
                </p>
            </div>
            <div id="tea">
                <h2>Drinking Tea</h2>
                <%= image_tag "tea.jpg" %>
                <p>I enjoy drinking tea and find it to be a mindful exercise. Tea contains theanine which works together with caffeine to create a relaxed, in-control type
                    of mental energy boost. While steeping my morning tea, I have a "pre-tea" ritual where I look for animals outside the window and reflect on how I feel. That way, 
                    my mind is naturally awake and the tea is just an added boost. The act of steeping tea with full mindfulness is a relaxing and meditative experience, whether 
                    I'm focusing alone, or sharing the vibes with my family. There's no end to the search for the perfect cup of tea!
                </p>
            </div>
        </div>
    </section>
</main>