<main>
    <div id="main-div">
        <h2>Welcome to my world!</h2>
        <p>Hi, I'm Bryan Schneller! I'm a web developer with a background in psychology, cognitive rehabilitation and customer service. I'm passionate about playing music, playing and creating games, coding, and learning geography and history. I practice mindfulness in my daily life and while drinking tea. 
        Welcome to my world!
        </p>
        <button>Check it out!</button>
    </div>
</main>
