<header>
    <nav>
        <h1>Bryan Schneller</h1>
        <div class="nav-buttons">
            <a>Hobbies</a>
            <a>Mindfulness</a>
            <a>Comments</a>
        </div>
    </nav>
</header>
<main>
    <p>Hi, I'm Bryan Schneller! I am a web developer with a background in psychology, cognitive rehabilitation and customer service. I'm also passionate about playing music, playing and creating games, coding, drinking tea, and practicing mindfulness! 
    Welcome to my world!
    </p>
    <button>Check out my interests!</button>
</main>
<footer>
</footer>