<header>
    <nav>
        <div id="header-img">
            <h1>BRYAN'S</h1>
            <%= image_tag "LinkedInWeddingSmall.JPG" %>
            <h1>WORLD</h1>
        </div>
        <div class="nav-buttons">
            <a>WELCOME</a>
            <a>HOBBIES</a>
            <a>MINDFULNESS</a>
            <a>COMMENT</a>
        </div>
    </nav>
</header>
<main>
    <div id="main-div">
        <h2>Welcome to my world!</h2>
        <p>Hi, I'm Bryan Schneller! I'm a web developer with a background in psychology, cognitive rehabilitation and customer service. I'm passionate about playing music, playing and creating games, coding, and learning geography and history. I practice mindfulness in my daily life and while drinking tea. 
        Welcome to my world!
        </p>
        <button>Check it out!</button>
    </div>
</main>
<footer>
    <a href="https://github.com/ChairSitter" target="_blank"><%= image_tag "github.png" %></a>
    <a href="https://www.linkedin.com/in/bryan-schneller-28b954244" target="_blank"><%= image_tag "linkedin.png" %></a>
    <a href="https://bryanschnellerwebdev.netlify.app/" target="_blank"><%= image_tag "profile.png" %></a>
</footer>